/.vscode/
.idea

.DS_Store

# Modules

node_modules

# goreleaser builds folder
/.builds/

# Artifacts
dist

# tests coverage
coverage.out

# plaintask todo files
*.todo

# generated markdown previews
README.html
CHANGELOG.html
LICENSE.html
